.noCoffee__div {
  display: flex;
  background-color: rgba(255, 0, 0, 0.85);
  height: 40px;
  justify-content: center;
}

.noCoffee__div h3 {
  align-self: center;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

.coffeeContainer__div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 100vh;
  height: fit-content;
}

.coffeeContainer__div h3 {
  text-align: center;
}

.card__link {
  width: fit-content;
  height: fit-content;
}

.coffeeCard {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  width: 15vw;
  height: 40vh;
  margin: 1em;
  justify-content: space-evenly;
  text-align: center;
  padding: 10px;
}

.coffeeCard h2 {
  font-family: 'Satisfy', cursive;
}
