.footer__container {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  background-color: black;
  position: fixed;
  width: 100%;
  opacity: 0.90;
  height: 40px;
  bottom: 0;
  z-index: 10;
}

.footer__container h1 {
  align-self: center;
  font-size: 15px;
}
