/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  background-image: url('../src/images/coffeeBg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
