/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

#root {
  background-image: url('../src/images/coffeeBg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
