.addCoffeeContainer__div {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 95vh;
}

.addCoffee__form {
  margin: 40px;
  border: 2px solid black;
  border-radius: 5px;
}

.addCoffee__form label {
  margin: 7px;
}
