.addCoffeeContainer__div {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 95vh;
}

.addCoffee__form {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 40px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  justify-content: center;
  align-content: center;
  height: fit-content;
  padding: 30px;
}

.addCoffee__form h1 {
  margin-bottom: 20px;
}

.flavor__inputs {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 230px;
}

.addCoffee__form label {
  margin: 7px;
}

.loggedOutContainer__div {
  display: flex;
  height: 95vh;
  justify-content: center;
}

.textContainer__div {
  display: flex;
  background-color: white;
  width: 80vw;
  height: fit-content;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  justify-content: center;
}
